.container-fluid {
   background-color: white;
   max-width: 940px;
   padding: 150px  0 0 0;    
   width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control {
    width: 100%;
    margin: 10px;

}

.row-1 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}
.row-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}
