.container-fluid {
    max-width: 940px;
    padding: 150px  0 70px 0;    
    width: 100%;
    }

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-row div {
    width: 95%;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group button {
    width: 160px;
}

