.container-fluid {
   padding: 80px  0 0 0;    
   width: 60%;
}

.form-group {
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.form-control {
    width: 60%;
    margin: 10px;
}

.row-1 {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
    border-radius: 10px;
}

.row-2 {
    display: grid;
    grid-template-columns:  auto auto;
    margin: 10px;
}

.row-3 {
    display: grid;
    grid-template-columns:  auto auto;
    margin: 10px;
}
