.form-container {
    height: 100vh;
    margin-top: 40px;
    align-items: center;
}

.form-login {
    width: 330px;
    padding: px;
    margin: auto;
}

.login-links a {
    text-decoration: none;
    font-size: 10pt;;
}