h1, h2, h3, h4, h5{
    line-height: 1.5;
}

body {
    background-color: #CCCCCC;
}

/* BANNER */

#banner{
    background-color: #CCCCCC;
    color: #ffffff;
    padding: 150px 0 70px 0;
} 

#banner img {
    max-width:400px;
    max-height:450px;
    margin-left: 20%;
}

/* BUTTON */
.btn {
    margin: 20px 10px 20px 0;
}

/* FOOTER */

#footer{
    padding: 3% 15%;
    text-align: center;
    background-color: #130e0ed3;
    color: #ffffff;
}